body{
    margin: 0;
}
.header{
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #1F1F26;
}
.header nav a {
    color: white;
    font-family: "Poppins";
    text-decoration: none;
    padding-left: 20px;
}
.logo{
    width: clamp(50px, 10vw, 10px);
    height: auto;
}
.section1 {
  height: 100vh;
  background: url('../images/Joycafe-background.png') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#body-logo {
  width: clamp(120px, 25vw, 300px);
  height: auto;
}
.greet {
  font-size: clamp(120px, 4vw, 30rem);
  color: white;
  margin-top: 10px;
  font-family: "Zen Loop";
}


/* for section "ABOUT" */
.section-about{
  font-family: "Zen Loop";
  text-align: center;
  color:white;
  background-color: #1F1F26 ;
  width: 50%;
  padding: 50px;
  position: absolute;
  height: 22vh;
  height: 80%;
  justify-content: center;
  align-items: center;
}
.abouth1{
  font-size: clamp(90px, 3vw, 50px);
  display: flex;
  padding-left: 35%;
  
}
.about-txt{
  font-size: clamp(20px, 1.5vw, 30px);
  text-align: center;
  width: 80%;
}
/* store image */
.section-image{
  display: flex;
  justify-content: flex-end;
}
#store-image{
  width: 50%;
  position: absolute;
  right: 0;
  display: flex;
  height: 100%;
  background-size:auto;
}





/* This area is for Using online fonts */
.zen-loop-regular {
  font-family: "Zen Loop", cursive;
  font-weight: 400;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
